<!DOCTYPE html>  

<html>

    <head>

      <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
	    <script src="/js/jquery.min.js"></script>
	    <script src="/js/popper.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script>
      
      <title>Create Data User</title>
    
    </head>
      
    <body>

        <form action="create" method="POST">
            <div class="createData" style="margin-bottom: 30px;">

              <h2>Create Data User</h2>

            </div>
            
            <div class="mb-3" style="margin-left: 10px;">
              <label for="exampleInputEmail1" class="form-label">ID User</label>
              <input type="text" class="form-control" name="iduser" aria-describedby="emailHelp" style="width: 150px">
            </div>

            <div class="mb-3" style="margin-left: 10px;">
                <label for="exampleInputUsername1" class="form-label">Username</label>
                <input type="text" class="form-control" name="nameuser" aria-describedby="emailHelp" style="width: 150px">
            </div>
          
            <div class="mb-3" style="margin-left: 10px;">
                <label for="exampleInputLevel1" class="form-label">Level</label>
                <br>
                <select name="level" style="width: 150px">
                  <option value="">=CHOOSE ONE=</option>
                  <option value="ADMIN">ADMIN</option>
                  <option value="USER">USER</option>
                </select>
                <br>
            </div> 
            
            <div class="mb-3" style="margin-left: 10px;">
              <label for="exampleInputStatus1" class="form-label" style="width: 150px">Status</label>
               <br>
                <select name="status" style="width: 150px">
                  <option value="">=CHOOSE ONE=</option>
                  <option value="ACTIVE">ACTIVE</option>
                  <option value="DEACTIVATE">DEACTIVATE</option>
                </select>
               <br>
            </div>

            <div class="mb-3" style="margin-left: 10px;">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" style="width: 150px">
            </div>

           
            <a href="/view"><button type="button" class="btn btn-outline-info btn-rounded waves-effect">Cancel</button></a>
            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Submit</button>
            
        </form>


    </body>   

</html>
    

