<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	 <!-- Load file CSS dan JS Bootstrap offline -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<title>Home Page</title>
	  
	</head>
	
	<body>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity:0.8">
			
			<div class="container">
			
			<!-- Toggler/collapsibe Button -->
		
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
			</button>
			
				<a class="navbar-brand" href="#">LOGO</a>

				<div class="collapse navbar-collapse" id="collapsibleNavbar">
			
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">WORK</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CONTACT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">ABOUT ME</a>
						</li>
					</ul>
					
					<ul class="navbar-nav ml-auto">
						
						<li class="nav-item">
							<a class="nav-link" href="/login">LOGIN</a>
						</li>
					</ul>
		 
				</div>
				
			</div>
			
		</nav>
		
	<div class ="d-none d-sm-none d-md-none d-lg-none d-xl-block container">
		<div class="row">
		
			<div class="col">
				<div class="jumbotron" style ="background-color:transparent; height: 250px;">
				</div>
			</div>
			
		</div>
	</div>

	<div class ="d-block d-sm-block d-md-block d-lg-block d-xl-none container">
		<div class="row">
		
			<div class="col">
				<div class="jumbotron" style ="background-color:transparent;">
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="jumbotron" style ="background-color:transparent">
				  <!-- <
					<p class="h1" style ="text-align:center">Paragraf menggunakan class .h1</p>
				   h1 class="display-4">Hello, worlda!</h1> transparent 
				   <div class="page-header" style ="text-align:center; text-color:white;">
						<h1>Example Page Header</h1>      
					</div>
					
					<button type='button' class='btn btn-warning center-block'> Klik Disini</button>
					
					
					
					-->
				   
					<div class="col" style = "text-align:center;">
						<h1 class="display-4">
						
							<a class="text-light" style="letter-spacing: 1px">PLAY TRADITIONAL GAME</a>
							
						</h1>
						</br>
					</div>
					
					<p class="lead" style="text-align:center">
					
						<a class="text-light" style="letter-spacing: 1px">Experience new traditional game play</a>
					
					</p>
					
					</br>
					
					
					<div class="row">
					
					<div class="col-md-4">
						</br>
					</div>
 
					<div class="col-md-4 text-center">
						<div class="btn btn-warning btn-lg" href="#" role="button">PLAY NOW</div>
						</br>
						</br>
						
					</div>
 
					<div class="col-md-4">
						<br/>
					</div>
					
					</div>
					
					
					
				</div>
			  
			</div>
		
		</div>

    </div>
	
		<!-- Footer -->
		<footer class="text-center">
		
			<div class="d-none d-sm-none d-md-none d-lg-none d-xl-block container p-4" style="margin-top: 120px;">
	  
		<!-- Copyright -->
				<div class="text-center">
					<a class="text-light">THE STORY</a>
				</div>
		
				<img src="/assets/segitiga.svg" class="img-fluid" width="30px">
		
		
		
			</div>

			<div class="d-block d-sm-block d-md-block d-lg-block d-xl-none container p-4">
	  
				<!-- Copyright -->
						<div class="text-center">
							<a class="text-light">THE STORY</a>
						</div>
				
						<img src="/assets/segitiga.svg" class="img-fluid" width="30px">
				
				
				
					</div>

		</footer>
	
	</body>
	
</html> 