<!DOCTYPE html>
<html>
<head>
<title>Master Data User</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/css/bootstrap.min.css">
    
</head>
<body>
<div class="container">

<table class="table table-bordered table-striped">
  <tr>
      <th>ID User</th>
      <th>Name User</th>
      <th>Level</th>
      <th>Status</th>
      <th>Password</th>
      <th>Action</th>
  </tr>

   <% msuser.forEach( i => { %>
  <tr>
      <td><%= i.iduser %></td>
      <td><%= i.name %></td>
      <td><%= i.level %></td>
      <td><%= i.status %></td>
      <td><%= i.password %></td>
      
      <td>
        
        
        <a href="/update/<%= i.iduser %>"><button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">Update User</button></a>
        <a href="/delete/<%= i.iduser %>"><button type="button" class="btn btn-outline-danger btn-rounded waves-effect" >Delete User</button></a>
     </td>
      
  </tr>
  <%   }) %>  
 
    
</table>

  <div class="container">

    <a href="/create"><button type="button" class="btn btn-outline-primary btn-rounded waves-effect">Add User</button></a>
    <a href="/homelogin"><button type="button" class="btn btn-outline-info btn-rounded waves-effect">Home</button></a>
  </div>

</div><br /><br />

</body>
</html>